body {
    margin: 0;
    padding: 0;
    font-family: 'Gemunu Libre', sans-serif;
    box-sizing: border-box;
}


/*Quitar las flechas de aumento del input*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* Cartas producto */

.producto {
    position: relative;
    transform: translateY(-50%, -50%);
    width: 210px;
    height: 240px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 5px;
    overflow: hidden;
}

.producto .imgbox {
    height: 100%;
    box-sizing: border-box;
}

.producto .imgbox img {
    display: block;
    width: 90%;
    margin: 20px auto 0;
}

.detalle {
    position: absolute;
    width: 100%;
    bottom: -85px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: .5s;
}

.iconodescuento {
    position: absolute;
}

.iconodescuento h2 {
    position: absolute;
    top: -2px;
    left: 14px;
    top: 20px;
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

.iconodescuento span {
    font-size: 60px;
    color: #ff4faf;
}

.preciosubrayado {
    position: absolute;
    right: 10px;
    top: 8px;
    text-decoration: line-through;
    font-size: 20px;
    color: #ff4faf;
    font-weight: bold;
}

.producto:hover .detalle {
    bottom: 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
}

.detalle h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
}

.detalle h2 span {
    font-size: 14px;
    color: #847B79;
    font-weight: normal;
}

.detalle .precio {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    color: #ff4faf;
    font-size: 20px;
}

.lbls {
    display: block;
    margin-top: 5px;
    font-family: bold;
    font-size: 14px;
}

.botonMenos {
    display: absolute;
    color: #ff4faf;
    margin-left: 30%;
}

.botonMenos i {
    display: absolute;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.botonMas {
    display: absolute;
    color: #ff4faf;
    margin-right: 30%;
}

.botonMas i {
    display: absolute;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.inputcantidad {
    display: absolute;
    font-weight: normal;
    text-align: center;
    color: #1C1A19;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
    width: 14px;
    height: 25px;
    border: 0;
    outline: none;
}

.botonañadircarrito {
    display: block;
    padding: 5px;
    color: #fff;
    margin: 8px 0 0;
    background: #ff4faf;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.botonañadircarrito:hover {
    color: #fff;
    background: #ff209a;
}


/*MENUS*/

#iconosMenu {
    font-size: 32px;
    color: #151313;
}

nav {
    padding: 20px 40px;
    height: 60px;
}

#menuInicio {
    background-color: #D72347;
}

#iconousuarioinicio:hover,
#btnCarro:hover,
#btnFacturaActual:hover {
    background-color: #D4546D;
}

#menuAdmin {
    background-color: #2E54F1;
}

#btnProductos:hover,
#btnPromociones:hover,
#btnGrupo:hover,
#btnFacturas:hover,
#iconousuarioadmin:hover {
    background-color: #4968E8;
}

#menuEmpleado {
    background-color: #9A2CCA;
}

#btnfacturasemp:hover,
#iconousuarioempleado:hover {
    background-color: #A44DCA;
}

#texto {
    color: white;
}

#cajas {
    height: 40px;
}


/* Modal */

#iconosModal {
    font-size: 18px;
    color: #151313;
    padding: auto;
}

#txtlabel,
#btnRecuperar {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#btnIngreso,
#btnEnviarRegistro,
#btnEditarPerfil,
#btnCambioPassword {
    background-color: #D72347;
    color: white;
    height: 40px;
}

#btnEditarPerfil,
#btnCambioPassword {
    padding: 0px;
    margin: 0px;
}


/*Extra*/

#iconitos {
    color: white;
    padding-right: 5px;
}


/*Lista carrito*/

#botoneslistacarrito a i {
    font-size: 22px;
}

#btnRestarCarrito i:hover {
    color: #000000;
}

#btnEliminarCarrito i {
    color: #AD2222;
}

#btnEliminarCarrito i:hover {
    color: #F12222;
}

#btnSumarCarrito i:hover {
    color: #000000;
}

.valortotal {
    margin-left: 5px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    width: 140px;
}