* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#iconosMenu {
    font-size: 32px;
    color: #151313;
}

nav {
    padding: 20px 40px;
    height: 60px;
}

#btnCarro:hover,
#btnFacturaActual:hover {
    background-color: #D4546D;
}

#navbarScrollingDropdown:hover {
    background-color: #D4546D;
}

.navbar {
    background-color: #D72347;
}

#texto {
    color: white;
}

#cajas {
    height: 40px;
}


/* Modal */

.modal-header {
    background-color: #D72347;
}

#iconosModal {
    font-size: 18px;
    color: #151313;
    padding: auto;
}

#txtlabel,
#btnRecuperar {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#btnIngreso,
#btnEnviarRegistro,
#btnEditarPerfil,
#btnCambioPassword {
    background-color: #D72347;
    color: white;
    height: 40px;
}

#btnEditarPerfil,
#btnCambioPassword {
    padding: 0px;
    margin: 0px;
}